*{
			margin:0px;
			padding: 0px;
			background-color: blue;
		}

		h3{
			line-height: 30px;
			text-align: center;
		}

		h3 .streak{
			color: white;
		}

		h1{
			text-align: center;
		}

		.wrap_content{
			width: 100%;
		}

		.user_choice, .display_result{
			 text-align: center;
			 /*display: inline;*/
		}

		.display_result div{
			display: inline-block;
		}
	   
	   #user, #pc{
	   		width: 130px;
	   		height: 130px;
	   		margin: 20px 20px;
			visibility: hidden;
	   }

	   .user_choice img{
	   		width: 130px;
	   		height: 130px;
	   }

	   .user_choice img+img{
	   		margin: 10px 15px;
	   }

	   .user_choice img:hover{
			-webkit-transform:scale(1.2,1.2);
			-moz-transform:scale(1.2,1.2);
			-transform:scale(1.2,1.2);
			-webkit-transition: -webkit-transform .2s;
			-moz-transition: -moz-transform .2s;
			transition: -transform .2s;
	   }